/*
 * Estilos de tu proyecto
 */
 /*@import url("../css/fonts/css/font-awesome.css");*/
 header{
   position: fixed;
   top: 0;
   left: 0;
   background: #2c3e50;
   width: 100%;
 }
 .nav-container{
   margin: 0 7%;
   height: 100px;
   align-items: center;
 }
 .nav-container a {
   color: #fff;
   text-decoration: none;
 }
.nav-right {
  width: 30%;
  justify-content: space-around;
}
.nav-left {
  width: 70%;
  justify-content: space-around;
}

nav div:nth-child(1) a{
  font-size: 28px;
}
#start{
  background: #18bc9c;
  justify-content: center;
  align-items: center;
  height: 645px;
  text-align: center;
  margin-top: 100px;
}

.text-presentation {
  font-size: 67px;
  line-height: 73px;
}
.sz-25px {
  font-size: 25px;
  line-height: 35px;
  font-weight: 300;
}
