/*
 * Estilos de tu proyecto
 */
 header{
   position: fixed;
   top: 0;
   left: 0;
   background: #2c3e50;
   width: 100%;
 }
 .nav-container{
   margin: 0 7%;
   height: 100px;
   align-items: center;
 }
.nav-right{
  width: 30%;
  justify-content: space-around;
}
.nav-left{
  width: 70%;
  justify-content: space-around;
}
.wrap {
  flex-wrap: wrap;
}
.nav-container a {
  color: #fff;
  text-decoration: none;
}
nav div:nth-child(1) a{
  font-size: 2rem;
}
#start{
  background: #18bc9c;
}
