 @import url("../css/font-awesome.css");
 header{
   position: fixed;
   top: 0;
   left: 0;
   background: #2c3e50;
   width: 100%;
   z-index: 2;
 }
 .nav-container{
   margin: 0 8%;
   height: 100px;
   align-items: center;
 }
 .nav-container a {
   font-size: 14px;
 }
.nav-right {
  width: 24%;
  justify-content: space-between;
}
.nav-left {
  width: 76%;
}

nav div:nth-child(1) a{
  font-size: 28px;
}
#start{
  justify-content: center;
  align-items: center;
  height: 645px;
  text-align: center;
  margin-top: 100px;
}
#portfolio{
  align-items: center;
  justify-content: space-around;
  padding: 7% 0;
}

#about {
  /*text-align: center;*/
  align-items: center;
  padding: 7% 0;
}

#contact{
  align-content: center;
  justify-content: center;
}

.text-presentation p:first-child {
  font-size: 67px;
  line-height: 73px;
}
hr {
  width: 250px;
  border: 0;
  margin: 25px auto 7px;
  border-top: 5px solid;
  text-align: center;
}

.star::after {
  content: "\f005";
  font-family: FontAwesome;
  position: relative;
  top: -.6em;
  font-size: 2em;
  padding: 0 .3em;
  background: #18bc9c;
}

.sz-25px {
  font-family: Lato;
  font-size: 25px;
  line-height: 35px;
  font-weight: 300;
}

/*Portfolio*/
#portfolio span,
#about span,
#contact span {
  text-align: center;
  font-size: 42px;
  line-height: 46px;
}
.portfolio-grid {
  /*width: 90%;*/
  /*align-items: ce;*/
  text-align: center;
  padding: 0 4.3%;
}

.portfolio-grid img {
  justify-content: space-around;
  width: 30.3333%;
  height: 260px;
}

/*ABOUT*/
.text-about {
  justify-content: center;
  /*justify-content: space-around;*/
}

.text-about p {
  /*font-family: Lato;*/
  font-size: 20px;
  text-align: left;
  line-height: 29px;
  width: 33.33333%;
  padding: 1%;
}
.btn-download {
  font-size: 20px;
  border: 2px solid;
  border-radius: 5px;
  padding: 1%;
  width: 16.3333%
}
.btn-download:hover{
  color: #18bc9c;
}
